@media(min-width:320px) and (max-width:719px){
				#links{
					display:none;
					position: absolute;
					background: #fff;
					width:90%;
					top: 100%;
					left:5%;
				}
				#links li{
				padding:10px;
				}
				
				
				.bi-list{
				
				display:inline-block;
				}
				.bi-x{
				display:none;
				}
			
			
.banner{
			flex-direction:column-reverse;
			
			}
			.banner_img{
			width:100%;
			
			}
			.banner_para{
			width:100%;
			text-align:center;
			}
			

.about{
			
			flex-wrap:wrap;
			
			}
			.about_img{
			width:100%;
			margin-bottom:20px;
			}
			.about_para{
			width:100%;
			padding:0;
			}
	.icon{
		margin-bottom:40px;
	}		
			

.count_col{
			flex-wrap:wrap;
			}
			.count_title{
			width:100%;
			}
			
			.col_box{
			width:50%;
			padding-bottom:20px;
			}
			
.Client_img{
			flex-wrap:wrap;
			}
			.client{
			width:50%;
			}
			.col_img{
			width:100%;
			}

.service_box{
			flex-wrap:wrap;
			}
			
			.service_head h1{
			font-size:32px;
			}
			.service_col{
			width:100%;
			padding-bottom:20px;
			}			
			
.portfolio_col{
			width:100%;
			
			}		
			
	
.testimonials_img{
			width:40%;
			
			}

.team_row{
			width:100%;
			flex-wrap:wrap;
			gap:20px;
			
			}
			.team_col{
				width:100%;
				
			}

.Gallery_col{
			width:100%;
			}


.contact_details{
			width:100%;
			flex-direction:column;
			}
		
			.contact_form{
			width:100%;
			}
			.row1{
			flex-direction:column;
			gap:20px;
			}
			.contact_box{
			width:100%;
			}
			
			.contact_row{
			width:100%;
			}


.Footer_row{
			flex-direction:column;
			gap:20px;
			
			}
			.footer_col{
			width:100%;
			}

.Final{
			flex-direction:column;
			text-align:center;
			}			
			}
			
			


@media(min-width:720px)and (max-width:1023px){
	#container{
		width:80%;
	}
				#links{
					display:none;
					position: absolute;
					background: #fff;
					width:90%;
					top: 100%;
					left:5%;
					
				}
				#links li{
				padding:10px;
				display:flex;
				align-items:center;
				justify-content:center;
				
				}
				
				.d1{
					left:55%;
					top:40%;
					text-align:center;
				}
				.bi-list{
				
				display:inline-block;
				}
				.bi-x{
				display:none;
				}
			
			
.banner{
			flex-direction:column-reverse;
			
			}
			.banner_img{
			width:100%;
			
			}
			.banner_img img{
				margin:0px 20px 0px 40px;
			}
			.banner_para{
				width:100%;
			}
			.banner_para h1{
				font-size:32px;
			}
			.banner_para p, .button1{
		display:none;
	}
		
.about{
			
			flex-wrap:wrap;
			
			}
			.about_img{
			width:100%;
			margin-bottom:20px;
			}
			.about_img img{
			transform:scale(1);
			}
			.about_para{
			width:100%;
			padding:0;
			}
			.icon{
		margin-bottom:0px;
	}	
			

.count_col{
			flex-wrap:wrap;
			}
			.count_title{
			width:100%;
			}
			.count_title h1{
			font-size:34px;
			}
			.col_box{
			width:50%;
			padding-bottom:20px;
			}
			
.Client_img{
			flex-wrap:wrap;
			}
			.client{
			width:33.33%;
			}
			.col_img{
			width:100%;
			}

.service_box{
			flex-wrap:wrap;
			}
			.service_title{
			width:100%;
			}
			.service_title h1{
			font-size:32px;
			}
			.service_col{
			width:45%;
			padding-bottom:20px;
			}			
			
			
.portfolio_head h1{
			font-size:32px;
			}
.portfolio_col{
			width:50%;
			
			}		
			
	
.testimonials_img{
			width:20%;
			
			}

.team_row{
			width:100%;
			flex-wrap:wrap;
			gap:20px;
			
			}
			.team_head h1{
			font-size:32px;
			}
			.team_col{
			width:48%;
			}
			

.Gallery_col{
			width:33.33%;
			padding:0px 12px 0px 12px;
			text-align:center;
			}
.Gallery_row{
	justify-content:unset;
	
}

.contact_details{
			width:100%;
			flex-direction:column;
			}
		.contact_head h1{
			font-size:32px;
		}
			.contact_form{
			width:100%;
			}
			.row1{
				
			flex-direction:row;
			gap:20px;
			}
			.contact_box{
			width:100%;
			}
			
			.contact_row{
			width:100%;
			}


.Footer_row{
			flex-direction:column;
			gap:20px;
			
			}
			.footer_col{
			width:100%;
			}

.Final{
			flex-direction:column;
			text-align:center;
			}

.Footer_row{
			flex-direction:column;
			gap:20px;
			
			}
			.footer_col{
			width:100%;
			}

.Final{
			flex-direction:column;
			text-align:center;
			}						
			}
			
			
			

